extends _layout

prepend titleDeterminer
  - var pageTitle = 'Minecraft in Node.js'

append head
  link(rel='stylesheet', href='/css/index.css')
  link(rel='stylesheet', href='/css/team.css')

prepend header
  - var navtype = 'transparent navbar-dark'
  - var promo = 'active'
  
append navigation
  .container.promo.pb-5.pt-5.mb-5
    h1.text-left.display-4.col-md-auto PrismarineJS
    h3.text-left.col-md-8
      | Minecraft-compatible 
      a(href='https://github.com/PrismarineJS/flying-squid', title='PrismarineJS/Flying-Squid on GitHub') server
      | , 
      a(href='https://github.com/PrismarineJS/mineflayer', title='PrismarineJS/Mineflayer on GitHub') bot
      | , and 
      a(href='https://github.com/PrismarineJS/node-minecraft-protocol', title='PrismarineJS/Node-Minecraft-Protocol on GitHub') API
      | . All written in JavaScript.
    .col-md-auto.mt-4
      a(href='https://github.com/PrismarineJS')
        button(type="button" class="btn btn-light") Check it out on GitHub

block content
  .row.markdown-render.meetTheTeam
    .container
      :markdown-it(linkify)
        ## Meet the Team

        PrismarineJS is made possible by many contributors who have put their time and effort into making the project possible.

      .row
        .col-md
          :markdown-it(linkify)
            ### Developers

            - ![](https://avatars.githubusercontent.com/u/1077050?s=54) Dennis Bartlett [@dcbartlett](https://github.com/dcbartlett)
            - ![](https://avatars.githubusercontent.com/u/106511?s=54) Andrew Kelley [@andrewrk](https://github.com/andrewrk)
            - ![](https://avatars.githubusercontent.com/u/1069318?s=54) Robin Lambertz [@roblabla](https://github.com/roblabla)
            - ![](https://avatars.githubusercontent.com/u/2346494?s=54) Romain Beaumont [@rom1504](https://github.com/rom1504)
            - ![](https://avatars.githubusercontent.com/u/1270100?s=54) Will Franzen [@wtfaremyinitials](https://github.com/wtfaremyinitials)
            - ![](https://avatars.githubusercontent.com/u/87436?s=54) Josh Wolfe [@thejoshwolfe](https://github.com/thejoshwolfe)
            - ![](https://avatars.githubusercontent.com/u/2260564?s=54) Harold Feit [@DreadWingKnight](https://github.com/DreadWingKnight)
            - ![](https://avatars.githubusercontent.com/u/8526903?s=54) Keegan [@mhsjlw](https://github.com/mhsjlw) `flying-squid`
            - ![](https://avatars.githubusercontent.com/u/5000732?s=54) Bryan Agredo [@ciolt](https://github.com/ciolt) `website`
            - ![](https://avatars.githubusercontent.com/u/850714?s=54) Georges Oates Larsen [@flynnn](https://github.com/Flynnn)
        .col-md
          :markdown-it(linkify)
            ### Media

            - ![](https://avatars.githubusercontent.com/u/5957463?s=54) Brady Africk [@BradyLF](https://github.com/BradyLF)